@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ! RESET TO DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ! GENERAL CSS */
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

li {
  list-style: none;
}

h1 {
  color: #e4e4e4;
}

h2 {
  color: #e4e4e4;
}

p {
  color: #f1faee;
}

.header-hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(./my-images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

span {
  color: #ffb703;
}

/*! HEADER CSS */
header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 100px;
}

.logo {
  cursor: pointer;
}

.logo h1 {
  font-size: 2.5rem;
}

header nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 2.9rem;
  cursor: pointer;
  position: relative;
}

nav ul li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: 0;
  background: #fff;
  transform: scale(0);
  transition: all 0.5s ease;
}

nav ul li:hover::after {
  transform: scale(1);
}

/*! HERO SECTION CSS */

.hero-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  max-width: 800px;
}

.hero-section h2 {
  line-height: 60px;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.hero-section p {
  line-height: 30px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 2.3rem;
}

.btn {
  background: #ffb703;
  padding: 5px 20px;
  color: #000;
  font-size: 1.3rem;
  border-radius: 25px;
  font-weight: 600;
  border: 2px solid #ffb703;
  transition: all 0.3s ease;
}

.btn:hover {
  background: transparent;
  color: #e4e4e4;
}

/*! ABOUT SECTION CSS */
.about {
  display: flex;
  align-items: center;
  background: #212529;
  padding: 3rem 5rem;
}

.a-left {
  flex-basis: 60%;
}

.a-left h2 {
  font-size: 5rem;
  color: #ffb703;
  margin-bottom: 0.9rem;
}

.a-left p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 35px;
}

.a-right {
  flex-basis: 40%;
}

.a-right img {
  width: 100%;
  object-fit: cover;
}

.first-p {
  margin-bottom: 40px;
}

/* ! CLASSES SECTION CSS */
.classes {
  width: 100%;
  height: auto;
  background: #1d1e1f;
  padding: 25px 2%;
}

.classes h3 {
  font-size: 2rem;
  text-align: center;
  color: #ffb703;
}

.classes h4 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

.classes span {
  margin-right: 10px;
}

.c-box {
  width: 100%;
  height: auto;
  padding: 25px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-card {
  width: 550px;
  height: 300px;
  overflow: hidden;
}

.c-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 0.7;
  transition: all 0.3s;
  object-fit: cover;
}

.c-card:hover img {
  opacity: 1;
}

.c-card .details-box {
  position: relative;
  bottom: 58px;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100% 0% 100%);
  width: 550px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.c-card:hover .details-box {
  background-color: #ffb703;
  opacity: 0.7;
  border-radius: 0 0 18px 18px;
}

.details-box h2 {
  font-size: 1.7rem;
  transition: all 0.3s;
}

.c-card:hover .details-box h2 {
  color: #000;
}

/* ! PLANS SECTION CSS */

.plans {
  width: 100%;
  height: auto;
  background-color: #212529;
  padding: 2% 2% 28px 2%;
}

.plans > h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}

.plans > h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 2.2rem;
  color: #fff;
}

.p-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-box .p-card {
  width: 400px;
  height: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  backdrop-filter: blur(20px);
}

.p-card h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.p-card h3 {
  color: #ffb703;
  font-size: 2.9rem;
  text-align: center;
}

.plan {
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
  color: #f1faee;
}

.enroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 200px;
  padding: 5px 10px;
}

/* ! REGISTER SECTION CSS */
.register {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(./my-images/registration.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.register h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.register p {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

/* ! GALLERY SECTION CSS */
.gallery {
  width: 100%;
  height: auto;
  background: #212529;
  padding: 2%;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.image {
  width: 400px;
  height: 500px;
  overflow: hidden;
  box-shadow: -5px 5px 10px #000;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #000;
  transform: scale(1);
  transition: all 0.4s ease;
}

.image img:hover {
  transform: scale(1.1);
}

/* ! TEAM SECTION CSS */
.teams {
  width: 100%;
  height: auto;
  background: #1d1e1f;
  padding: 2%;
}

.teams > h3 {
  text-align: center;
  color: #ffb703;
  font-size: 1.7rem;
}

.teams > h4 {
  text-align: center;
  color: #e4e4e4;
  font-size: 2.1rem;
}

.t-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 20px;
  margin-top: 2%;
}

.t-card {
  width: 300px;
  height: 500px;
  overflow: hidden;
  box-shadow: -5px 5px 10px #000;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
}

.t-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
}

.t-tag {
  width: 300px;
  height: 500px;
  background: #212529;
  position: absolute;
  top: 100%;
  padding: 10px;
  border-radius: 14px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.name {
  color: #ffb703;
  font-size: 2rem;
}

.trainer {
  margin-top: 5px;
}

.t-card:hover .t-tag {
  top: 0;
}

/*! FOOTER SECTION CSS*/

footer {
  background: #212529;
  width: 100%;
  height: auto;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.size {
  width: 350px;
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
}

footer h3 {
  text-align: center;
  font-size: 1.7rem;
  color: #ffb703;
  margin-bottom: 10px;
}

.first {
  max-width: 500px;
}

.first h1 {
  font-size: 2.2rem;
  margin-bottom: 5px;
  text-align: center;
}

.first p {
  text-align: left;
}

.social {
  margin-top: 15px;
  text-align: center;
}

.social i {
  color: #ffb703;
  font-size: 1.7rem;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.4s;
}

.social i:hover {
  transform: translateY(-5px);
}

.second ul li a {
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.4s;
}

.second ul li a:hover {
  color: #ffb703;
}

.third p {
  padding-bottom: 10px;
  text-align: left;
}

.third i {
  font-size: 1.1rem;
  color: #ffb703;
  cursor: pointer;
  margin-right: 5px;
}

form {
  position: relative;
}

form input {
  width: 100%;
  padding: 10px 50px 10px 10px;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid #ffb703;
  border-radius: 0 5px 5px 0;
}

form input::placeholder {
  color: #fff;
}

form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: #212529;
  background: #ffb703;
  padding: 11px;
  border-radius: 0 5px 5px 0;
  font-size: 1.2rem;
}
